#btnClose {
  font-size: 24px;
}

#info-modal-window {
  opacity: 0.9;
  width: 80%;

  height: 80%;
  max-width: 800px;
  min-width: 300px;
}

#info-modal-background li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#info-modal-body {
  height: 100%;
  overflow-y: auto;
  padding: 0px;
  margin-right: 10px;
}

#info-modal-body span {
  color: #253d5b;
  line-height: 1.5;
  font-size: 16px;
  display: inline-block;
  padding: 10px 0px 0px 0px;
}

#info-modal-body h1,
#info-modal-body h2 {
  color: #253d5b;
}

/* unvisited link */
#info-modal a:link {
  color: #253d5b;
}

/* visited link */
#info-modal a:visited {
  color: #253d5b;
}

/* mouse over link */
#info-modal a:hover {
  color: #040e17;
}

/* selected link */
#info-modal a:active {
  color: #253d5b;
}
