/* The Modal (background) */
.modal-background {
  /*  display: block; */
  display: flex;
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  animation-name: fade-in;
  animation-duration: 0.5s;
}

/* Modal Content */
.modal-window {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: white;
  margin-bottom: 20px;
  padding: 25px;
  width: 60%;
  max-width: 400px;
  min-width: 310px;
  font-size: 12px;

  border-radius: 25px;
  text-align: left;
  animation-name: roll-up;
  animation-duration: 0.4s;
}

.modal-enter {
  /* opacity: 0;*/
}

.modal-enter.modal-enter-active {
  /* visibility: visible; */

  /* visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;*/
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Add Animation */
@keyframes roll-up {
  from {
    top: 160px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  flex: 0;
}

/* The Close Button (x) */
#btnClose {
  color: #aaaaaa;
  /* float: right; */
  position: absolute;
  top: 3px;
  right: 12px;
  font-size: 28px;
  font-weight: bold;
}

#btnClose:hover,
#btnClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#panLoadFromJira .form-content {
  height: 350px;
}

#panPaste .form-content {
  min-height: 500px;
  overflow-y: auto;
}

.tabbed-panels {
  height: 100%;
}

.form-page {
  /* height: 400px;*/
  flex-grow: 1;
}

.form-page h1 {
  font-size: 1.4em;
  margin: 15px 0 0 2px;
}

.form-page h2 {
  font-size: 1.2em;
  margin: 3px 0 7px 2px;
}

.form-content {
}

.form-content .text-input {
  width: 99%;
  margin: 10px 0 10px 2px;
  flex: 0 0 auto;
}

.form-content .radio-group {
  width: 99%;
  margin: 10px 0 10px 2px;
  flex: 0 0 auto;
}

.form-content a {
  width: 98%;
  margin: 10px 0 10px 2px;
  padding: 4px 1px;
  flex: 0 0 auto;
  font-size: 1.2em;
  color: #222;
  outline-color: #25c0dc;
}

.form-content .hint {
  font-size: 0.8em;
  padding: 0 0 8px 0;
}

.form-content textarea {
  flex: 0 0 auto;
  width: 97%;
  height: 100px;
  resize: none;
  font-size: 1.2em;
  margin: 10px 0 10px 2px;
  border-width: 2px;
  border-radius: 5px;
  border-color: #ccc;
  outline: none;
}

.form-content textarea:hover {
  border-color: #bbb;
}

.form-content textarea:focus {
  border-color: #25c0dc;
}

.form-content textarea:active {
  border-color: #25c0dc;
}

#inpMaxResults {
}

#inpPage {
}

/**************************************************************************/
/*                            Buttons                                     */
/**************************************************************************/

.form-page button {
  padding: 0px;
  opacity: 0.8;
  font-weight: normal;
  letter-spacing: 0.4px;
}

.form-page button:hover:enabled,
button:active,
button:focus {
  opacity: 1;
  font-weight: bold;
  letter-spacing: 0px;
}

.form-page button:focus {
  text-decoration: underline;
}

.form-page button:disabled {
  opacity: 0.5;
  cursor: default;
}

.form-page .primary-button {
  color: white;
  background-color: #25c0dc;
  border-color: #25c0dc;
}

.form-page .secondary-button {
  color: #25c0dc;
  background-color: white;
  border-color: #25c0dc;
}

.form-page .primary-button:active {
  border-color: #1fa9c1;
  background-color: #1fa9c1;
  text-decoration: none;
}

.form-page .secondary-button:active {
  background-color: #dcf5f9;
  text-decoration: none;
}

.modal-footer {
  clear: both;
}

#inpPort {
  min-width: 37px;
  max-width: 50px;
  box-sizing: border-box;
  display: inline-block;
  padding: 0px;
  padding-left: 5px;
  margin: 0px;
  border: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #ccc;
  background: rgba(255, 255, 255, 1);
  border-radius: 0px;
}
