/* The Modal (background) */
.modal-background {
  /*  display: block; */
  display: flex;
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  animation-name: fade-in;
  animation-duration: 0.5s;
}

/* Modal Content */
.modal-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: white;
  color: #253d5b;
  margin-bottom: 20px;
  padding: 25px;
  width: 60%;
  max-width: 380px;
  min-width: 310px;
  height: 415px;

  border-radius: 25px;
  text-align: left;
  animation-name: roll-up;
  animation-duration: 0.4s;
}

.modal-enter {
  /* opacity: 0;*/
}

.modal-enter.modal-enter-active {
  /* visibility: visible; */

  /* visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;*/
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Add Animation */
@keyframes roll-up {
  from {
    top: 160px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  flex: 0;
}

/* The Close Button (x) */
#btnClose {
  color: #aaaaaa;
  /* float: right; */
  position: absolute;
  top: 3px;
  right: 12px;
  font-size: 28px;
  font-weight: bold;
}

#btnClose:hover,
#btnClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.tabbedPanels {
  flex-grow: 1;
}

.modal-page {
  display: block;
  position: relative;
}

.modal-window h2 {
  margin-bottom: 0px;
}
.form-container {
  position: relative;
  min-height: 360px;
}

/**************************************************************************/
/*                            Buttons                                     */
/**************************************************************************/

.modal-buttons {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.modal-buttons button {
  box-sizing: border-box;
  border: solid;
  outline: none;
  border-width: 2px;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  opacity: 0.8;
  border-radius: 15px;
  box-sizing: margin-box;
  font-weight: normal;
}

.modal-buttons .primary-button {
  margin: 0px 0px 0px 8px;
  background-color: #25c0dc;
  color: white;
  border-color: #25c0dc;
}

.modal-buttons .secondary-button {
  background-color: white;
  color: #25c0dc;
  border-color: #25c0dc;
}

.modal-buttons button:hover {
  opacity: 1;
  font-weight: bold;
}

.modal-buttons .primary-button:active {
  background-color: #1fa9c1;
  opacity: 1;
  font-weight: bold;
  text-decoration: none;
}
.modal-buttons.secondary-button:active {
  background-color: #dcf5f9;
  color: #25c0dc;
  border-color: #25c0dc;
  text-decoration: none;
  font-weight: bold;
}

.modal-buttons button:focus {
  opacity: 1;
  font-weight: bold;
  text-decoration: underline;
}

.modal-buttons button:disabled {
  border-width: 2px;
  opacity: 0.5;
  cursor: default;
  font-weight: normal;
}

.modal-footer {
  clear: both;
}

#inpPort {
  min-width: 37px;
  max-width: 50px;
  box-sizing: border-box;
  display: inline-block;
  padding: 0px;
  padding-left: 5px;
  margin: 0px;
  border: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #ccc;
  background: rgba(255, 255, 255, 1);
  border-radius: 0px;
}
