#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  top: 20%;
}

#welcome-header {
  flex: 0;
  font-family: 'Kaushan Script', cursive;
  font-size: 120px;
  color: #effffa;
  line-height: 0.8;
}

#welcome-text,
#welcome-instruction {
  text-align: justify;
  padding: 30px 40px 40px 40px;
  flex: 0;
  max-width: 750px;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: #253d5b;
}

#welcome-text .icon {
  width: 18px;
  height: 18px;
}
