.App {
  text-align: center;
  background-color: #25c0dc;
}

#animationField {
  height: 500px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #25c0dc;
}

:root {
}

.column-label {
  font-weight: bold;
}

.tooltip {
  font-size: 12px;
  fill: #000;
}

.slider-background {
  color: rgb(
    100,
    100,
    100
  ); /* for some reason, this attribute has no effect! */
  opacity: 0.4;
}

.details-popup {
  position: absolute;
  top: 100;
  left: 300;
  background-color: white;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  font-size: 12px;
}

.details-popup .details-table {
}

.details-popup .details-table .values-cell {
  text-align: right;
}

.details-popup .details-table td {
  padding: 0px;
}

.details-popup .details-table .summary-cell {
  padding-top: 5px;
  padding-bottom: 10px;
}
