#control-panel {
  /* position: fixed; */
  /* bottom: 10px; */
  width: 100%;
  padding: 20px;
}

#control-panel button {
  width: 50px;
  height: 50px;
  margin: 6px 6px 6px 6px;
  padding: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  box-sizing: border-box;
}

.control-button {
  background-color: rgba(255, 255, 255, 0);
  opacity: 0.75;
}

.control-button-hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

.control-button-pressed {
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0.7;
}

.control-button-disabled {
  opacity: 0.5;
  cursor: default;
}

.icon {
  width: 60%;
  height: 60%;
}

.icon-hover {
  width: 61%;
  height: 61%;
}
